# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.notion-to-md

# testing
/coverage

# next.js
/.next/
/out/

.idea

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.notion-to-md/media/1b8c485e-f356-80a4-9862-e8f45cd52908_media.json
/.notion-to-md/media/37bc485e-f356-80d0-9bbe-d3d946b2bdef_media.json
/.notion-to-md/media/37bc485e-f356-8031-ba0f-f8d16af9c3da_media.json
/.notion-to-md/media/38bc485e-f356-807e-b1b8-d924167bfab2_media.json
/.notion-to-md/media/38bc485e-f356-809d-9cfa-d2e28df604dd_media.json
/.notion-to-md/media/38bc485e-f356-8014-92ae-cb6f5279181d_media.json
/.notion-to-md/media/38bc485e-f356-8023-a031-ea32204162a3_media.json
/.notion-to-md/media/38bc485e-f356-8027-8037-dfd90dff55e3_media.json
/.notion-to-md/media/38cc485e-f356-80f5-a82b-c21e656e220a_media.json
/.notion-to-md/media/38cc485e-f356-8053-aff4-e383e7640780_media.json
